@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* .main-registerDiv {
  width: 98%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-registration {
  min-width: 780px;
  min-height: 570px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 20px black;
} */

.login-registration {
  width: 50%;
}

.login-registration .left-div {
  width: 100%;
  display: flex;
  background-color: rgb(0, 0, 0);
}

.login-registration .right-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  background: #dad8d7;
}

.input {
  font-size: 18px;
  width: 210px;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid rgb(189, 189, 189);
  margin-bottom: 5px;
  width: 95%;
}

.rButton {
  background-color: rgb(75, 75, 75);
  padding: 7px 17px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  border: 1px solid white;
}

.rButton:hover {
  background-color: rgb(165, 165, 165);
  border: 1px solid black;
  color: black;
  font-weight: bold;
  transition: all 0.4s;
  background-color: red;
}

.input:focus {
  outline: 0;
}

.inputL:focus {
  width: 300px;
  border: none;
  outline: 0;
  padding: 5px;
  border-radius: 10px;
}

.registration .right-div {
  width: 100%;
  height: 100%;
}

.login-registration .btn {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: rgb(84, 84, 84);
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  transition: all 0.4s;
}

.links {
  color: rgb(0, 0, 0);
}

.links:hover {
  text-decoration: underline;
  color: rgb(0, 15, 115);
  transition: all 0.3s;
}

td .errors {
  color: rgb(210, 0, 0);
  text-align: center;
  min-width: 70%;
  /* background-color: rgb(255, 196, 196); */
  border-radius: 5px;
  margin-top: -8px;
  margin-bottom: 5px;
  padding: 0px 8px;
  height: 20px;
}

.rButton1 {
  background-color: green;
  width: 90%;
  padding: 7px 0;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

.rButton1:hover {
  background-color: rgb(5, 114, 5);
}

.rButton2 {
  background-color: rgb(44, 103, 240);
  width: 90%;
  padding: 7px 0;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 10px;
}

.rButton2:hover {
  background-color: rgb(27, 79, 199);
}

td {
  width: 250px;
}

td .errors {
  color: rgb(210, 0, 0);
  text-align: center;
  min-width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 0 5px;
}

@media (min-width: 1200px) {
  .main-registerDiv {
    width: 98%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-registration {
    min-width: 780px;
    min-height: 570px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 20px black;
  }

  td .errors {
    color: rgb(210, 0, 0);
    text-align: center;
    border-radius: 5px;
    padding: 0 5px;
  }
  /* Styles for extra large devices */
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Styles for large devices */
  .main-registerDiv {
    width: 98%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-registration {
    min-width: 780px;
    min-height: 570px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 20px black;
  }
}

/* Styles for medium devices */
@media (min-width: 768px) and (max-width: 991.98px) {
  .main-registerDiv {
    width: 98%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-registration {
    min-width: 780px;
    min-height: 570px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 20px black;
  }

  .rgIcon {
    margin-bottom: 30px;
  }

  .rHeading {
    margin-bottom: 70px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* Styles for small devices */
  .main-registerDiv {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-registration {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 570px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 20px black;
  }

  .rgIcon {
    margin-bottom: 30px;
  }

  .rHeading {
    margin-bottom: 70px;
  }

  td .errors {
    color: rgb(210, 0, 0);
    text-align: center;
    min-width: 70%;
    /* background-color: rgb(255, 196, 196); */
    border-radius: 5px;
    /* margin-bottom: 10px; */
    padding: 0 5px;
    margin-top: -20px;
    /* position: absolute; */
  }
}

@media (max-width: 575.98px) {
  /* Styles for extra small devices */
  .main-registerDiv {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rgIcon {
    font-size: 20px;
  }

  td {
    height: 45px;
  }

  td .errors {
    width: 200%;
    margin-bottom: 15px;
    /* background-color: red; */
    /* background-color: red; */
  }

  .login-registration {
    min-width: 100%;
    min-height: 100vh;
    /* display: flex; */
    /* justify-content: space-between; */
    /* box-shadow: 0px 0px 20px black; */
  }

  .login-registration .right-div {
    width: 99%;
  }

  .rgIcon {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .rHeading {
    margin-bottom: 20px;
  }

  .login-registration .left-div {
    width: 0;
  }

  .login-registration .tblInputs tr td {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .login-registration .tblInputs tr td input,
  .login-registration .tblInputs tr td select {
    font-size: 15px;
    width: 80%;
    background: transparent;
    outline: 0;
    border: 0;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-color: rgb(156, 153, 153);
    border-radius: 0;
    position: absolute;
  }

  .login-registration .rgIcon {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 65px;
  }

  .rHeading {
    /* margin-bottom: 80px; */
    font-size: large;
  }

  .rButton1 {
    background-color: green;
    width: 90%;
    padding: 20px;
    font-size: 14px;
    padding: 7px 0;
    color: white;
    font-weight: bold;
    border-radius: 10px;
  }

  .rButton1:hover {
    background-color: rgb(5, 114, 5);
  }

  .rButton2 {
    background-color: rgb(44, 103, 240);
    width: 90%;
    padding: 20px;
    font-size: 14px;
    padding: 7px 0;
    color: white;
    font-weight: bold;
    border-radius: 10px;
  }

  .rButton2:hover {
    background-color: rgb(27, 79, 199);
  }

  td .errors {
    color: rgb(210, 0, 0);
    text-align: center;
    min-width: 70%;
    /* background-color: rgb(255, 196, 196); */
    border-radius: 5px;
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 0 5px;
  }
}

.success {
  color: green;
  margin-bottom: 10px;
}

.tblInputs td {
  padding: 0;
}

.input-select {
  cursor: default;
  background-color: white;
}

/* The popup loader */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(
    150,
    138,
    138,
    0.208
  ); /* Semi-transparent background */
  z-index: 9999; /* Ensure it overlays on top */
}

/* The loader itself */
.loader {
  border: 8px solid #f3f3f3; /* Light gray background */
  border-top: 8px solid #3498db; /* Blue color for the spinning part */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite;
}

/* Keyframe animation for spinning */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
