.rs-main-div {
  width: 100%;
  min-height: 100vh;
  /* background-color: gainsboro; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rs-main-div form {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.rs-sub-div {
  margin: 0 auto;
  width: 40%;
  height: 40%;
  background-color: #ddd9d9;;
  padding: 5%;
}

.rs-row {
  display: flex;
  margin-bottom: 20px;
}

.rs-row .rs-col:first-child {
  width: 35%;
}

.rs-row .rs-col:last-child {
  width: 70%;
}

.rs-col input {
  width: 100%;
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1rem;
}

.rs-col label {
  font-size: 1rem;
  /* font-weight: bold; */
}

.rs-button {
  width: 65px;
  padding: 7px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.rs-back {
  background-color: blue;
  margin-right: 10px;
}

.rs-back:hover {
  background-color: rgb(28, 133, 232);
  transition: all 0.3s;
}

.rs-submit {
  background-color: green;
  margin-right: 10px;
}

.rs-submit:hover {
  background-color: rgb(30, 152, 61);
  transition: all 0.3s;
}
